{% extends 'base.html.twig' %}

{% block body_id 'character_edit' %}

{% block body %}
    <h1>Edit Character</h1>

    {{ include('character/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}