{% extends 'base.html.twig' %}

{% block body_id 'character_list' %}

{% block body %}
    <div>Character List</div>

    {% for character in characters %}
        {{ include('character/_item.html.twig') }}
    {% else %}
        <div>Not characters found</div>
    {% endfor %}
{% endblock %}